<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Category</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= raw(article.content) %></td>
    <td><%= link_to article.category.title, category_path(article.category) %></td>
  </tr>
<% end %>
</table>