%p#notice= notice

%h2= @article.title

.article_content
  = raw(@article.content)

- if @article.category.present?
  %p
    %b In category
    = link_to @article.category.title, category_path(@article.category)