%ul
  - admin_categories.each do |category|
    %li= link_to category.short_info, edit_admin_category_path(category)
    - if category.child_categories.count > 0
      = render :partial => 'layouts/admin_categories', :object => category.child_categories
