<div>
	<h2>Categories</h2>
</div>
<ul class="nav nav-list">
	<% @root_categories.each do |category| %>
  	<li class="nav-header"><%= link_to category.title, admin_category_path(category) %></li>
	  <% if category.child_categories.count > 0 %>
		  <%= render :partial => 'layouts/admin_categories', :object => category.child_categories %>
		<% end %>
	<% end %>
</ul>