%div
  %h2 Categories
%ul.nav.nav-list
  - @root_categories.each do |category|
    %li.nav-header= link_to category.title, category
    - if category.child_categories.count > 0
      = render :partial => 'layouts/categories', :object => category.child_categories
