%ul.nav.big
  %li.home-page-menu-item= link_to Category.model_name.human(count: 2), categories_path
  %li.home-page-menu-item= link_to Article.model_name.human(count: 2), articles_path
  %li.home-page-menu-item= link_to t('administration'), new_admin_session_path

= render partial: 'layouts/language'